html,body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family:  'Gilroy', sans-serif;
    font-size: 62.5%; /* font-size 1em = 10px on default browser settings */
    scroll-behavior: smooth;
}
section, div{
    position: relative;
}
.container{
    margin: 0 auto; /* horizontal align для блочных*/
    position: relative; /* нужно для absolute фото */
}
header {
    background: #006EB8;
}
nav{
    margin: 0 auto;
    width: 100%;
    position: relative;
}

.bgr-blue {
    background: #006EB8;
}
.frgr-blue{
    color: #006EB8;
}
.frgr-white{
    color: white;
}


#checkbox-menu, .toggle{
    display: none;
}

.menu{
    padding: 0;
    margin: 0;
    height: 10vh;
    max-width: 92vw;
    /* 60px */
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    list-style-type: none;
}
.menu li a{
    margin-left: 25px;
    color: white;
    text-decoration: none;
    align-self: center;
    font-size: 2.5em;
    font-weight: 900;
    padding: 10px 15px;
    transition: background .2s linear;
}
.menu li a:hover {
    background: #2DBBB1;
}

.menu a.lc-btn {
    background: #2DBBB1;
    padding: 10px 15px 11px 15px;
    border-radius: 1px;
    font-weight: 300;
    font-size: 2.5em;
}
.menu li a.lc-btn:hover {
    background: rgb(39, 161, 153);
}

.menu li a.logo{
    font-weight: 900;
    font-size: 3.5em;
    text-transform: uppercase;
    position: absolute;
    left: 7.5vw;
    top: 50%;
    transform: translate(0, -50%); /* Даже не спрашивайте как это работает, пока я пытался сделать отображение этой кнопки ровным по высоте при любой высоте экрана, вспомнил что где-то такое видел*/
}
.menu li a.logo:hover {
    background: none;
}
.menu li a.logo .logo-color {
    color: #2DBBB1;
}

button {
    background: #2DBBB1;
    border: none;
    border-radius: 1px;
    color: white;
}
button:hover{
    background: rgb(39, 161, 153);
}

.logo-mobile{
    display: none;
}
.welcome-section {
    height: 84vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.full-size-section {
    height: 95vh;
    padding-top: 6vh;
    padding-left: 13vw;
}
.welcome-section .welcome-text {
    font-weight: 900;
    font-size: 4.8em;
    line-height: 40px;
    letter-spacing: 1px;
    color: white;
    padding-left: 13vw;
    text-transform: uppercase;
}
.welcome-section .join-community {
    width: 16vw;
    height: 37px;
    font-weight: 600;
    font-size: 2.4em;
    margin-left: 13vw;
    margin-top: 4vh;
    transition: .3s;
}
.arrow-down {
    height: 2.5vh;
    display: block;
    margin: 0 auto;
    margin-top: 1.75vh;
    margin-bottom: 1.75vh;
}
#text-hr{
    max-width: 200px;
    margin-left: 0;
}
.section-name {
    font-size: 5em;
    font-weight: 900;
}
.full-size-section hr{
    border: none; 
    color: #006EB8; 
    background-color: #006EB8; 
    height: 2px; 
}
.default-text{
    font-size: 2.5em;
    font-weight: 300;
}
.about-section{
    background: url('../img/bcgr-about.png') center center/cover no-repeat;
}
.about-content{
    width: 30vw;
    margin-top: 7vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.about-content img{
    width: 18vw;
    margin: 5vh 0;
}
.about-content .about-text{
    font-weight: 700;
    font-size: 2.5em;
}
.about-content .about-text span{
    font-weight: 900;
    font-size: 1.25em;
}
.become-member{
    background: #006EB8;
    height: 40px;
    width: 13vw;
    margin-top: 13vh;
    font-size: 2.3em;
    font-weight: 900;
    border-radius: 1px;
    transition: .3s;
}
.become-member:hover{
    background: rgb(0, 84, 139);
}
.welcome-white-divider img:hover{
    opacity: 50%;
    transition: .2s;
}
.adv-section{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.adv-section-content{
    height: 95vh;
    width: 50%;
    padding-top: 6vh;
    padding-left: 10vw;
    padding-right: 8vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.adv-content{
    background-color: #2DBBB1;
}
.diff-content{
    background-color: #006EB8;
    padding-top: 6vh;
    padding-left: 8vw;
    padding-right: 10vw;
}
a[name="advantages"]{
    font-size: 5em;
    font-weight: 900;
    color: #006EB8;
}
a[name="differences"]{
    font-size: 5em;
    font-weight: 900;
    color: #fff;
    text-align: right;
}
.adv-section-content ul{
    padding: 0;
    list-style-type: none; 
}
.adv-section-content li{
    margin-bottom: 3vh;
}
.adv-section-content li:before{
    content:"-";
}
.adv-section-content li{
    font-size: 3.2em;
    font-weight: 300;
    color: #fff;
}
#diff-ul{
    text-align: right;
}
#adv-hr{
    border: none; 
    color: #006EB8; 
    background-color: #006EB8; 
    height: 3.3px; 
    width: 7vw;
    margin: 16px 0 70px 0;
}
#diff-hr{
    border: none; 
    color: #fff; 
    background-color: #fff; 
    height: 3.3px; 
    width: 7vw;
    margin: 16px 0 70px 0;
    align-self: flex-end;
}

.events-section{
    display: flex;
    flex-direction: column;
    padding:0;
    height: 100vh;
    /* align-items: center; */
}
.about-events{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 86vh;
    width: 100%;
}
.events-text{
    width:50%;
    padding: 6vh 8vw 0 10vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#event-img{
    height: 86vh;
}
.events-img{
    width: 50%;
}
a[name="events"]{
    font-size: 5em;
    font-weight: 900;
    color: #006EB8;
}
#event-hr{
    border: none; 
    color: #006EB8; 
    background-color: #006EB8; 
    height: 3.3px; 
    width: 7vw;
    margin: 16px 0 20px 0;
}
.about-events p{
    font-size: 2.7em;
}
#mini-h{
    color: #006EB8;
    margin-bottom: 0;
}
#blue-text{
    color:#006EB8;
}
.event-reg{
    height: 14vh;
    background-color: #006EB8;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.next-event-info{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: left;
    padding-left: 20vh;
}
.next-event-info p{
    font-size: 2.7em;
    color: #fff;
}
.next-event-reg{
    width: 50%;
}
.next-event-reg button{
    background: #2DBBB1;
    height: 50px;
    width: 13vw;
    margin-top: 1vh;
    font-size: 2.3em;
    font-weight: 900;
    border-radius: 1px;
    transition: .3s;
    margin-left: 50%;
}
