html,body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family:  'Gilroy', sans-serif;
    font-size: 62.5%; /* font-size 1em = 10px on default browser settings */
    scroll-behavior: smooth;
}
section, div{
    position: relative;
}
.container{
    margin: 0 auto; /* horizontal align для блочных*/
    position: relative; /* нужно для absolute фото */
}
header {
    background: #006EB8;
}
nav{
    margin: 0 auto;
    width: 100%;
    position: relative;
    box-shadow: 0 0 10px rgb(0, 0, 0, 0.5);
    z-index: 1;
}

#checkbox-menu, .toggle{
    display: none;
}

.menu{
    padding: 0;
    margin: 0;
    height: 7vh;
    max-width: 92vw;
    /* 60px */
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    list-style-type: none;
}
.menu li a{
    margin-left: 25px;
    color: white;
    text-decoration: none;
    align-self: center;
    font-size: 2.5em;
    font-weight: 900;
    padding: 10px 15px;
    transition: background .2s linear;
}
.menu li a:hover {
    background: #2DBBB1;
}

.menu a.lc-btn {
    background: #2DBBB1;
    padding: 10px 15px 11px 15px;
    border-radius: 1px;
    font-weight: 300;
    font-size: 2.5em;
    transition: .4s;
}
.menu li a.lc-btn:hover {
    /* background: rgb(39, 161, 153); */
    background: #fff;
    color: #2DBBB1;
}

.menu li a.logo{
    font-weight: 900;
    font-size: 3.5em;
    text-transform: uppercase;
    position: absolute;
    left: 7.5vw;
    top: 50%;
    transform: translate(0, -50%); /* Даже не спрашивайте как это работает, пока я пытался сделать отображение этой кнопки ровным по высоте при любой высоте экрана, вспомнил что где-то такое видел*/
}
.menu li a.logo:hover {
    background: none;
}
.menu li a.logo .logo-color {
    color: #2DBBB1;
}

button {
    background: #2DBBB1;
    border: none;
    border-radius: 2px;
    color: white;
    cursor: pointer;
}
button:hover{
    /* background: rgb(39, 161, 153);
    color: rgb(221, 221, 221); */
    background: #006EB8;
    color: rgb(255, 255, 255);
}
#logo-main{
    margin-left: 50%;
    margin-bottom: 40px;
    margin-top: 40px;
    transform: translate(-50%,0);
    height: 160px;
    width: 160px;
}
.welcome-section {
    height: 87vh;
    background: url('../img/Prof-unity-welcome.png') center center/cover no-repeat;

    display: flex;
    flex-direction: column;
    justify-content: center;
}
.full-size-section {
    height: 95vh;
    padding-top: 6vh;
    padding-left: 10vw;
}
.welcome-section .welcome-text {
    font-weight: 900;
    font-size: 7em;
    width:fit-content;
    line-height: 40px;
    letter-spacing: 1px;
    color: white;
    margin-left: 50%;
    transform: translate(-50%,0);
    text-transform: uppercase;
}
.welcome-text-bottom{
    font-weight: 300;
    font-size: 3.3em;
    width:fit-content;
    line-height: 30px;
    letter-spacing: 1px;
    color: white;
    margin-left: 50%;
    transform: translate(-50%,0);
    text-align: center;
}
.welcome-social-media a img{
    height: 26px;
    width: 26px;
}
.welcome-social-media{
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    width: fit-content;
    margin-left: 50%;
    transform: translate(-50%, 0);
}
.welcome-social-media a{
    margin-right: 11px;
    margin-left: 11px;
}
.welcome-section .join-community {
    width: 240px;
    height: 43px;
    font-weight: 600;
    font-size: 2.4em;
    margin-left: 50%;
    border-radius: 2px;
    transform: translate(-50%,0);
    margin-top: 50px;
    transition: .3s;
    box-shadow: 0 0 10px rgb(0, 0, 0, 0.5);
}
.lc-community{
    margin-top: 15px !important;
    margin-left: 0 !important;
    width: 170px !important;
}
.arrow-down {
    height: 2.5vh;
    display: block;
    margin: 0 auto;
    margin-top: 1.75vh;
    margin-bottom: 1.75vh;
}
#text-hr{
    max-width: 200px;
    margin-left: 0;
    height: 3.3px;
}
#about-header {
    font-size: 5em;
    font-weight: 900;
    margin-bottom: 20px;
    margin-top: 10vh;
    color: #006EB8;
}
.full-size-section hr{
    border: none; 
    color: rgb(238, 238, 238);
    background-color: #006EB8; 
    height: 2px; 
}
.default-text{
    font-size: 2.5em;
    font-weight: 300;
}
.about-section{
    background: url('../img/bcgr-about.png') center center/cover no-repeat;
}
.about-content{
    width: 33vw;
    margin-top: 7vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.about-content img{
    width: 18vw;
    margin: 5vh 0;
    background-color: #fff;
    padding: 10px;
    border-radius: 10px;
}
.about-content .about-text{
    font-weight: 500;
    font-size: 3.2em;
    text-align: left;
    color: #006EB8;
}
.about-content .about-text span{
    font-weight: 900;
    font-size: 1.17em;
}
#about-title{
    text-align: left !important;
}
.become-member{
    background: #2DBBB1;
    height: 43px;
    width: 240px;
    margin-top: 5vh;
    font-size: 2.3em;
    font-weight: 900;
    border-radius: 2px;
    transition: .3s;
    color:#fff;
    box-shadow: 0 0 10px rgb(0, 0, 0, 0.3);
}
.become-member:hover{
    /* background: rgb(185, 214, 235);
    color:rgb(2, 78, 129) */
    /* background: rgb(39, 161, 153);
    color: rgb(221, 221, 221); */
    background: #006EB8;
}
.welcome-white-divider{
    margin:0;
    padding:0;
}
.welcome-white-divider img:hover{
    opacity: 50%;
    transition: .2s;    
}
.adv-section{
    display: flex;
    flex-direction: row;
    align-items: center;
    background: url('../img/Prof-unity-advantages.png') center center/cover no-repeat;
    /* background-position-y: -85px; */
}
.adv-section-content{
    height: 95vh;
    width: 50vw;
    padding-top: 6vh;
    padding-left: 10vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* background-color: #006EB8; */
}

#advantages-header{
    font-size: 5.6em;
    font-weight: 900;
    color: rgb(238, 238, 238);
    margin-top: 0;
    margin-bottom: 20px;
}
#differences-header{
    font-size: 5em;
    font-weight: 900;
    color: #fff;
    text-align: right;
}
.adv-section-content ul{
    padding: 0;
    list-style-type: none; 
}
.adv-section-content li{
    margin-bottom: 3vh;
}
.adv-section-content li:before{
    content:"-";
}
.adv-section-content li{
    font-size: 3.6em;
    font-weight: 300;
    color: #fff;
}
#diff-ul{
    text-align: right;
}
#adv-hr{
    border: none; 
    color: #006EB8; 
    background-color: rgb(238, 238, 238);
    height: 3.3px; 
    width: 200px;
    margin: 0 0 50px 0;
}
#diff-hr{
    border: none; 
    color: #fff; 
    background-color: #fff; 
    height: 3.3px; 
    width: 7vw;
    margin: 16px 0 70px 0;
    align-self: flex-end;
}

.events-section{
    padding:0;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100vh;
    width: 100%;
    background: url(../img/bcgr-events.png) center center/cover no-repeat;
}
.events-section p{
    font-size: 3.2em;
}
.events-text{
    width: 61vh;
    padding: 6vh 8vw 0 10vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#events-header{
    font-size: 5em;
    font-weight: 900;
    color: #006EB8;
    margin-bottom: 20px;
}
#event-hr{
    border: none; 
    color: #006EB8; 
    background-color: #006EB8; 
    height: 3.3px; 
    width: 200px;
    margin: 0 0 20px 0;
}
#mini-h{
    color: #006EB8;
    margin-bottom: 0;
}
#blue-text{
    color:#006EB8;
}
.event-reg{
    height: 14vh;
    background-color: #006EB8;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.next-event-info{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: left;
    padding-left: 10vw;
}
.event-date-div{
    display:flex;
    flex-direction: row;
}
.event-date{
    margin-right:5%;
}
#event-date-p{
    font-weight: 700;
}
.event-place{   
    display: flex;
    align-items: center;
    justify-content: center;
}
.event-place p{   
    margin:0;
    font-weight: 700;
}
.next-event-info p{
    margin: 0 0 10px 0;
    font-size: 2.7em;
    color: #fff;
}
.next-event-reg{
    width: 50%;
}
.next-event-reg button{
    background: #2DBBB1;
    height: 50px;
    width: 13vw;
    margin-top: 1vh;
    font-size: 2.3em;
    font-weight: 900;
    border-radius: 1px;
    transition: .3s;
    margin-left: 50%;
}

.join-section{
    height: 86vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    /* background-color: #006EB8; */
    background: url(../img/Prof-unity-join.png) center center/cover no-repeat;
}
.join-text{
    width: 50%;
    height: 80%;
    padding: 0 8vw 0 10vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.join-text p{
    font-size: 3.8em;
    color: #fff;
    margin: 50px 0 0 0;
}
#join-text{
    font-weight: 600;
    font-size: 3.7em;
}
#join-header{
    font-size: 5em;
    font-weight: 900;
    color: #fff;
    margin-top: 0;
}
#join-hr{
    border: none; 
    color: #2DBBB1; 
    background-color: #2DBBB1; 
    height: 3.3px; 
    width: 200px;
    margin: 14px 0 0 0;
}
#price-text{
    font-size: 5em;
    font-weight: 900;
    margin-top: 50px;
    margin-bottom: 50px;
}
.video-div{
    min-width: 50%;
    max-width: 50%;
}
#youtube-img{
    height: 400px;
    width: 85%;
    margin-left: 50%;
    border-radius: 10px;
    transform: translate(-50%, 0);
}
.join-button{
    background: #2DBBB1;
    height: 60px;
    width: 20vw;
    font-size: 3em;
    font-weight: 700;
    border-radius: 2px;
    transition: .3s;
    box-shadow: 0 0 10px rgb(0, 0, 0, 0.5);
}
.join-button:hover{
    /* background: rgb(34, 156, 148); */
    background: #006EB8;
}

#footer{
    background-color: rgb(241, 241, 241);
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer-section{
    height: 14vh;
    width: 90%;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.footer-info{
    display: flex;
    flex-direction: row;
    justify-content: start;
}
.footer-info p{
    font-size: 2.3em;
    color: #006EB8;
    margin: 0 60px 5px 0;
}
.footer-p-title{
    font-weight: 700;
}
.footer-social-media{
    display: flex;
    flex-direction: row;
    margin: auto;
}
.footer-social-media a{
    margin-right: 14px;
}
.footer-social-media a img{
    height: 26px;
    width: 26px;
}
#visa-mc{
    height:34px;
}
.footer-pdf-div{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.footer-info-pdf{
    font-weight: 500;
    font-size: 2.3em;
    color: #006EB8;
}
.pay-social{
    display: flex;
    flex-direction: row;
    margin-left: auto;
}
.number{
    width: 120px;
    height: 20px;
}