@media screen and (max-width: 1000px) {
    .toggle {
        clear: both;
        display: block;
        text-align: center;
        font-size: 18px;
        line-height: 7vh;
        width: 100%;
        color: black;
        background: #2DBBB1;
        transition: all .1s linear;
    }
    .toggle:hover{
        background: rgb(39, 161, 153);
    }
    #checkbox-menu:checked + label .touch li{
        opacity: 1;
        visibility: visible;
        transition: all .7s linear;
    }
    #checkbox-menu:checked + label .touch {
        height: 350px;
    }
    .menu {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        height: 0;
        transition: height .3s linear;
    }
    .menu li{
        display: flex;
        align-self: center;
        width: 95%;
        opacity: 0;
        visibility: hidden;
    }
    .menu li a{
        width: 95%;
        text-align: center;
        align-self: center;
        align-content: center;
    }
    .menu li a.logo{
        position: static;
        padding: 10px 15px;
        align-self: center;
        vertical-align: middle;
        margin: 25px 0px -25px 25px;
    }
    .welcome-white-divider{
        border: 2px solid #006EB8;
    }
    .welcome-section{
        height: 87vh;
    }
    .logo-mobile{
        display: unset;
        height: 150px;
        width: 150px;
        margin-left: 50%;
        padding-top: 0px;
        transform: translate(-50%, 0);
    }
    .welcome-section .join-community{
        width: 70vw;
        height: 50px;
        margin-left: 15.5vw;
        margin-top: 5vh;
    }
    .welcome-section .welcome-text{
        font-weight: 800;
        font-size: 4em;
        line-height: 40px;
        letter-spacing: 2px;
        color: white;
        padding-left: 0;
        padding-top: 4vh;
        text-transform: uppercase;
        text-align: center;
    }

    .full-size-section {
        height: 100vh;
        padding: 0;
        margin: 0;
    }
    .about-section{
        /* background-position: bottom 0px right -355px; */
        background: none;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .about-content{
        margin: 0 5% 0 5%;
        width: 90%;
        justify-content: space-evenly;
        align-items: center;
    }
    .about-content img{
       margin: 3% 0 3% 0;
       width: 50vw;
    }
    .about-content .about-text{
        text-align: center;
        font-size: 16px;
    }
    .about-content p{
        margin: 5%;
        padding-top: 0;
    }
    #about-header {
        font-size: 7em;
        font-weight: 900;
        text-align: center;
        color: #006EB8;
        margin: 0 0 3% 0;
        padding: 0;
    }
    #text-hr{
        width: 200px;
        height: 2px;
        margin-left: 50%;
        transform: translate(-50%, 0);
        color: #006EB8;
        background-color: #006EB8;
    }
    .become-member{
        background: #006EB8;
        height: 50px;
        width: 44vw;
        border-radius: 1px;
        margin-top: 5%;
        margin-left: 50%;
        transform: translate(-50%, 0);
        font-size: 3em;
    }
    .adv-section{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .adv-section-content{
        height: 100vh;  
        width: 80%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .adv-content{
        padding:0 10% 0 10%;
    }
    .diff-content{
        padding:0 10% 0 10%;
    }
    .adv-section-content li{
        margin: 1.5vh 0 1.5vh 0;
    }
    #diff-ul{
        text-align: left;
    }
    #diff-hr{
        align-self: flex-start;
        width: 200px;
        height: 2px;
        margin: 0;
        margin-left: 50%;
        transform: translate(-50%, 0);
        color: #fff;
        background-color: #fff;
    }
    #adv-hr{
        width: 200px;
        height: 2px;
        margin: 0;
        margin-left: 50%;
        transform: translate(-50%, 0);
        color: #006EB8;
        background-color: #006EB8;
    }
    #advantages-header{
        font-size: 5em;
        font-weight: 900;
        color: #006EB8;
        text-align: center;
    }
    #differences-header{
        font-size: 5em;
        font-weight: 900;
        color: #fff;
        text-align: center;
    }
}