@media screen and (max-width: 1000px) {
    .toggle {
        clear: both;
        display: block;
        text-align: center;
        font-size: 18px;
        line-height: 7vh;
        width: 100%;
        color: black;
        background: #2DBBB1;
        transition: all .1s linear;
    }
    .toggle:hover{
        background: rgb(39, 161, 153);
    }
    #checkbox-menu:checked + label .touch li{
        opacity: 1;
        visibility: visible;
        transition: all .7s linear;
    }
    #checkbox-menu:checked + label .touch {
        height: 350px;
    }
    .menu {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        height: 0;
        transition: height .3s linear;
    }
    .menu li{
        display: flex;
        align-self: center;
        width: 95%;
        opacity: 0;
        visibility: hidden;
    }
    .menu li a{
        width: 95%;
        text-align: center;
        align-self: center;
        align-content: center;
    }
    .menu li a.logo{
        position: static;
        padding: 10px 15px;
        align-self: center;
        vertical-align: middle;
        margin: 25px 0px -25px 25px;
    }
    .welcome-white-divider{
        /* border: 1px solid #006EB8; */
    }
    .welcome-section{
        height: 87vh;
    }
    .logo-mobile{
        display: unset;
        height: 150px;
        width: 150px;
        margin-left: 50%;
        padding-top: 0px;
        transform: translate(-50%, 0);
    }
    .welcome-section .join-community{
        width: 70vw;
        height: 50px;
        margin-left: 15.5vw;
        margin-top: 5vh;
    }
    .welcome-section .welcome-text{
        font-weight: 800;
        font-size: 4em;
        line-height: 40px;
        letter-spacing: 2px;
        color: white;
        padding-left: 0;
        padding-top: 4vh;
        text-transform: uppercase;
        text-align: center;
    }

    .full-size-section {
        height: 100vh;
        padding: 0;
        margin: 0;
    }
    .about-section{
        /* background-position: bottom 0px right -355px; */
        background: none;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .about-content{
        margin: 0 5% 0 5%;
        width: 90%;
        justify-content: space-evenly;
        align-items: center;
    }
    .about-content img{
       margin: 3% 0 3% 0;
       width: 50vw;
    }
    .about-content .about-text{
        text-align: center;
        font-size: 16px;
    }
    .about-content p{
        margin: 5%;
        padding-top: 0;
    }
    #about-header {
        font-size: 7em;
        font-weight: 900;
        text-align: center;
        color: #006EB8;
        margin: 0 0 3% 0;
        padding: 0;
    }
    #text-hr{
        width: 200px;
        height: 2px;
        margin-left: 50%;
        transform: translate(-50%, 0);
        color: #006EB8;
        background-color: #006EB8;
    }
    .become-member{
        background: #006EB8;
        height: 50px;
        width: 44vw;
        border-radius: 1px;
        margin-top: 5%;
        margin-left: 50%;
        transform: translate(-50%, 0);
        font-size: 3em;
    }
    .adv-section{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .adv-section-content{
        height: 100vh;  
        width: 80%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .adv-content{
        padding:0 10% 0 10%;
    }
    .diff-content{
        padding:0 10% 0 10%;
    }
    .adv-section-content li{
        margin: 1.5vh 0 1.5vh 0;
    }
    #diff-ul{
        text-align: left;
    }
    #diff-hr{
        align-self: flex-start;
        width: 200px;
        height: 2px;
        margin: 0;
        margin-left: 50%;
        transform: translate(-50%, 0);
        color: #fff;
        background-color: #fff;
    }
    #adv-hr{
        width: 200px;
        height: 2px;
        margin: 0;
        margin-left: 50%;
        transform: translate(-50%, 0);
        color: #006EB8;
        background-color: #006EB8;
    }
    #advantages-header{
        font-size: 5em;
        font-weight: 900;
        color: #006EB8;
        text-align: center;
    }
    #differences-header{
        font-size: 5em;
        font-weight: 900;
        color: #fff;
        text-align: center;
    }

    .events-section{
        height: 200vh;
        align-items: center;
    }
    .about-events{
        flex-direction: column;
        height: 160vh;
    }
    .events-text{
        align-items: center;
        height: 100vh;
        width: 90%;
        padding: 0;
        margin:0;
    }
    #events-header{
        font-size: 5em;
        font-weight: 900;
        color: #006EB8;
        text-align: center;
        margin:0;
        padding:0;
    }
    .about-events p{
        font-size: 2.4em;
    }
    .events-img{
        height: 60vh;
        width: 100%;
    }
    #event-img{
        height: 60vh;
    }
    .event-reg{
        height: 40vh;
        width:100%;
        flex-direction: column;
        justify-content: space-evenly;
        margin:0;
        padding:0;
    }
    .next-event-info{
        width: 100%;
        text-align: center;
        padding-left: 0;
    }
    .next-event-info p{
        font-size: 2.4em;
    }
    .next-event-reg{
        width: 100%;
    }
    .next-event-reg button{
        width: 200px;
        margin:0;
        text-align: center;
        margin-left:50%;
        transform: translate(-50%, 0);
    }
    #event-hr{
        height: 2px; 
        width: 200px;
    }
    .event-date-div{
        flex-direction: column;
    }
    .event-date{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }
    #event-date-p{
        font-weight: 500;
        margin-right: 5vw;
    }
    
    .partners-section{
        flex-direction: column;
        height: 100vh;
        align-items: center;
    }
    .partners-text{
        align-items: center;
        height: 70vh;
        width: 90%;
        padding: 0;
        margin:0;
    }
    .partners-text p{
        font-size: 2.4em;
    }
    .partners-img{
        min-width: 130%;
        height: 30vh;
        background-image: url('http://localhost:60359/img/partners-circle-mobile.png');
        background-position: center top;
        background-repeat: no-repeat;
        background-size: 100%;
    }
    .join-section{
        flex-direction: column;
        height: 100vh;
        align-items: center;
    }
    .join-text{
        align-items: center;
        height: 70vh;
        width: 90%;
        padding: 0;
        margin:0;
    }
    .join-text p{
        font-size: 2.4em;
        text-align: center;
    }
    #join-hr{
        height: 2px; 
        width: 200px;
        margin-left: 50%;
        transform: translate(-50%, 0);
    }
    #join-header{
        font-size: 5em;
        font-weight: 900;
        color: #fff;
        text-align: center;
        margin:0;
        padding:0;
    }
    .join-button{
        background: #2DBBB1;
        height: 60px;
        width: 300px;
        font-size: 3em;
        font-weight: 700;
        border-radius: 1px;
        transition: .3s;
    }
    .video-div{
        min-width: 100%;
        height: 30vh;
    }
    #youtube-img{
        margin: 2.5vh 0 2.5vh 0;
        height: 25vh;
        margin-left: 50%;
        transform: translate(-50%, 0);
    }

    .footer-section{
        height: 350px;
        width: 90%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .footer-info{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0;
    }
    .footer-info p{
        font-size: 2.3em;
        color: #006EB8;
        margin: 0 0 5px 0;
        
    }
    .footer-p-title{
        font-weight: 700;
        text-align: center !important;
    }
    .footer-social-media{
        display: flex;
        flex-direction: row;
        margin: 20px 0 0 0;
    }
    #visa-mc{
        height:34px;
        margin: 20px 0 0 0;
    }
}