@media screen and (min-width: 601px) and (max-width: 1000px){
    .logo{
        display: none;
    }
    #logo-main{
        display: none;
    }
    .welcome-section{
        height: 84vh;
    }
    .welcome-section .welcome-text{
        font-size: 5em;
    }
    .welcome-text-bottom{
        font-size: 2.5em;
    }
    .menu {
        height: 39px;
        width: 100%;
        justify-content: center;
        max-width: 1000px;
    }
    .lc-btn{
        height: 30px;
    }
    .menu li a{
        font-size: 14px;
    }
    #logo-main{
        height: 120px;
        width: 120px;
    }
    .about-section{
        height: 530px;
        background-position-x: 100px;
    }
    .about-content{
        width: 70vw;
        color: white;
    }
    .about-text p{
        color: #006EB8;
        margin-top: 0;
    }
    .about-content{
        margin-top: 40px;
    }
    .become-member{
        margin-top: 34px;
    }
    #about-header{
        margin-top: 0;
    }
    .adv-section{
        min-height: 600px;
    }
    .events-section{
        height: 650px;
        padding: 0 8vw 0 0;
        background-position: 0px;
    }
    .events-text{
        width: 70vw;
        padding-top: 0;
    }
    .join-section{
        min-height: 600px;
    }
    .join-text{
        padding-left: 7vw;
        padding-right: 2vw;
    }
    #youtube-img{
        height: 220px !important;
        width: 85% !important;
        margin-left: 50%;
        border-radius: 10px;
        transform: translate(-50%, 0);
    }
    #footer{
        min-height: 100px;
    }
    .footer-social-media{
        margin-left: 5vh;
    }
    .footer-info p{
        margin: 0 20px 5px 0;
    }
    #youtube-img{
        height: auto;
        width: auto;
    }
    .pay-social{
        margin-left: auto;
        display: flex;
        flex-direction: column;
    }
    #visa-mc{
        margin: auto;
    }
    .footer-social-media{
        margin: auto;
    }
}