@media screen and (min-width: 601px) and (max-width: 1000px){
    .logo{
        display: none;
    }
    #logo-main{
        display: none;
    }
    .welcome-section{
        height: 84vh;
    }
    .welcome-section .welcome-text{
        font-size: 5em;
    }
    .welcome-text-bottom{
        font-size: 2.5em;
    }
    .menu {
        height: 39px;
        width: 100%;
        justify-content: center;
        max-width: 1000px;
    }
    .lc-btn{
        height: 30px;
    }
    .menu li a{
        font-size: 14px;
    }
    #logo-main{
        height: 120px;
        width: 120px;
    }
    .about-section{
        min-height: 500px;
    }
    .about-content{
        width: 150vh;
        color: white;
    }
    .adv-section{
        min-height: 600px;
    }
    .events-section{
        min-height: 550px;
        padding: 0 8vw 0 0;
    }
    .events-text{
        width: 150vh;
    }
    .join-section{
        min-height: 600px;
    }
    #footer{
        min-height: 100px;
    }
    .footer-social-media{
        margin-left: 5vh;
    }
    .number{
        width: 35vh;
        height: 20px;
    }
    .footer-info p{
        margin: 0 20px 5px 0;
    }
    #youtube-img{
        height: auto;
        width: auto;
    }
}